<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mambobryan.travels">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="Travelmantics"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".DealViewActivity"
            android:parentActivityName=".DealsListActivity"
            android:theme="@style/LightStatus" />

        <activity
            android:name=".DealsListActivity"
            android:label="Hello there,"
            android:screenOrientation="portrait"
            android:theme="@style/DarkStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DealEditActivity"
            android:parentActivityName=".DealsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkStatus" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>